doctype html
html
	title The best blogApp!
	head
		h1 Welcome to the BlogApp
		
	body
			a(href='/') Home
			br
		if !user
			a(href='/register') Register
			br
			a(href='/login') Login
			br
		if user
			a(href="/users/" + user.id) profile
			br
			a(href="/logout") logout
